<ion-content padding>
  <h3>Sistema de Lançamentos</h3>
  <img src="assets/imgs/firstpage.png" alt="logo">

  <form >
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input type="text" name="email" [(ngModel)]="user.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Senha</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="user.password"></ion-input>
    </ion-item>
    <button ion-button block (click)="login()">Entrar</button>
  </form>
  <button ion-button block outline>Registrar</button>
</ion-content>
